.sidebar {
    width: 300px;
    margin-right: 30px;
    border: 2px solid #bc6c25;
    border-radius: 30px;
    padding: 20px;
}
.sidebar div {
    display: flex;
    align-items: center;
    color: #283618;
    margin-bottom: 15px;
}
.sidebar div svg {
    font-size: 1.3rem;
    margin-right: 5px;
    color: #bc6c25;
}
.sidebar div span {
    color: #606c38;
    margin-left: 10px;
}
.sidebar button {
    width: 100%;
    margin-top: 40px;
    background-color: #606c38;
    color: #dda15e;
    border: none;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.sidebar button:hover {
    color: #283618;
    background-color: #bc6c25;
    transition: all 0.2s ease-in-out;
}
@media (max-width: 480px) {
    .sidebar {
       margin-bottom: 50px;
       margin-left: 20px;
    }
}
