.sidebar {
   width: 270px;
   height: fit-content;
   margin: 10px;
   padding: 20px;
   color: #fefae0;
   background-color: #606c38;
   box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
   padding: 20px;
   display: flex;
   border-radius: 8px;
   flex-direction: column;
   align-items: flex-start;
}
.sidebar div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #dda15e;
} 
.sidebar div p {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}
.sidebar li {
    list-style: none;
    padding: 5px;
    cursor: pointer;
}
.sidebar li:hover {
    background-color: #283618;
    color: #fefae0;
    border-radius: 10px;
}
.selected {
    background-color: #283618;
    color: #dda15e;
    border-radius: 10px;
    margin: 10px 0;
  }
@media (max-width: 480px) {
    .sidebar {
      width: 70%;
      flex-direction: column;
    }
    .sidebar ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  
    
  }